:root {
  --main-color: rgb(184, 142, 47);
  --alt-color: #f9f1e7;
  --alt-text: #9F9F9F;
}

html {
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a:active,
a:focus,
a:visited {
  border: none;
  outline: none;
}

a.main-button,
button.main-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.5625rem 4.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
  background: var(--Primary, #b88e2f);
  margin: 1.5625rem 0 0 0.625rem;
  cursor: pointer;
  border: none;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
}
a.main-button p,
button.main-button p {
  margin: 0;
}

.overlay-main {
  background: var(--Color-Gray-1, rgba(58, 58, 58, 0.7411764706));
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  z-index: -1;
}
.overlay-main .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 85%;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: var(--Primary, #b88e2f);
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-bottom: 0.9375rem;
}
.overlay-main .impresions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  color: white;
}
.overlay-main .impresions div {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%; /* 24px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlay-main .impresions div img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.375rem;
}

.overlay-header {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.7019607843);
}

.overlay-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 70000;
}

.page-header {
  background-image: url(../../../images/skyler-smith-hNimGcj8pWE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  text-align: center;
  position: relative;
}
.page-header img {
  position: relative;
  z-index: 2;
  margin-bottom: 0.625rem;
}
@media (max-width: 767px) {
  .page-header img {
    scale: 0.7;
  }
}
.page-header h1,
.page-header h4 {
  position: relative;
  z-index: 2;
}
.page-header h4 {
  font-size: calc(0.5rem + 0.9vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header h4 a {
  color: var(--main-color);
}
.page-header h4 span:first-of-type {
  margin: 0 0.4375rem;
  font-size: calc(1rem + 0.9vw);
}
.page-header h4 span:last-child {
  font-weight: 300;
}

.product {
  width: 18.875rem;
  position: relative;
}
@media (max-width: 991px) {
  .product {
    max-width: 30%;
    min-width: 20rem;
  }
}
.product img {
  width: 100%;
}
.product .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: var(--Color-White, #fff);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}
.product .discount.new {
  background-color: #2ec1ac;
}
.product .discount.d50 {
  background-color: #e97171;
}
.product .text {
  padding: 1.25rem 1.0625rem 2.1875rem;
  background-color: #f4f5f7;
  margin-top: -0.28125rem;
}
.product .text p.title {
  color: var(--Color-Gray-1, #3a3a3a);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  margin: 0;
}
.product .text p.des {
  color: var(--Color-Gray-3, #898989);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin: 0.4375rem 0;
}
.product .text p.price-after {
  color: var(--Color-Gray-1, #3a3a3a);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%; /* 30px */
  margin: 0 0.9375rem 0 0;
  display: inline-block;
}
.product .text p.price-before {
  color: var(--Color-Gray-4, #b0b0b0);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-decoration: line-through;
  margin: 0;
  display: inline-block;
}

.pros {
  background-color: var(--alt-color);
  margin-bottom: -1.875rem;
}
.pros .pro:not(:first-child) {
  width: 17rem;
}
@media (max-width: 767px) {
  .pros .pro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.blog:not(:first-of-type) {
  margin-top: 1.875rem;
}
.blog > img {
  border-radius: 10px;
}
.blog .detials {
  margin-top: 0.9375rem;
  color: var(--alt-text);
  font-size: 0.8125rem;
}
@media (max-width: 767px) {
  .blog .detials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.blog > h3 {
  margin-block: 1.25rem;
}
@media (max-width: 767px) {
  .blog > h3 {
    text-align: center;
  }
}
.blog > p {
  color: var(--alt-text);
  margin: 0;
}
@media (max-width: 767px) {
  .blog > p {
    text-align: center;
  }
}
.blog button {
  margin-top: 1.25rem;
  position: relative;
}
@media (max-width: 767px) {
  .blog button {
    margin-left: calc(50% - 55px);
  }
}
.blog button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 63%;
  height: 2px;
  background-color: #000;
}

.cart {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: 700000;
  width: 400px;
  padding: 20px;
}
@media (max-width: 991px) {
  .cart {
    width: 100%;
  }
}
.cart .haeding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 7px;
}
.cart .haeding::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;
  z-index: 700001;
}
.cart .haeding h3 {
  font-weight: 600;
}
.cart .haeding img {
  cursor: pointer;
}
.cart .haeding img:last-of-type {
  position: absolute;
  right: 6px;
  top: 20.5px;
  z-index: 700001;
}
@media (max-width: 767px) {
  .cart .haeding img:last-of-type {
    top: 18px;
  }
}
.cart .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.cart .items::-webkit-scrollbar {
  display: none;
}
.cart .items .products {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart .items .products .product-cart {
  margin-bottom: 0.625rem;
}
.cart .items .products .product-cart img.product-img {
  width: 80px;
  border-radius: 15px;
}
.cart .items .products .product-cart input {
  width: 40px;
}
.cart .items .products .product-cart span.name {
  font-weight: 600;
}
.cart .items .products .product-cart .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}
.cart .items .products .product-cart .amount span.price {
  color: var(--main-color);
}
.cart .items .products .product-cart img.remove {
  cursor: pointer;
}
.cart .items .total {
  padding-block: 7px;
}
.cart .items .total::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: -19.75px;
  z-index: 700001;
}
.cart .items .total span {
  font-weight: 600;
}
.cart .items .total span:last-child {
  color: var(--main-color);
}
.cart .buttons {
  margin-top: 10px;
}
.cart .buttons a {
  padding: 5px 20px;
  border: 2px solid #000000;
  color: #000000;
  font-size: 14px;
}

.navbar {
  background-color: #ffffff !important;
}
.navbar a.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}
.navbar a.navbar-brand img {
  width: 3.125rem;
  height: 2rem;
}
@media (max-width: 767px) {
  .navbar a.navbar-brand img {
    scale: 0.75;
  }
}
.navbar a.navbar-brand p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  margin-left: 0.625rem;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .navbar a.navbar-brand p {
    font-size: 1.2rem;
    margin-left: 0;
  }
}
.navbar .nav-item:hover .nav-link {
  color: var(--main-color) !important;
}
.navbar .nav-item .nav-link {
  font-size: 1.1875rem;
  padding-inline: 1.5625rem !important;
}
.navbar .nav-item .nav-link.active {
  color: var(--main-color) !important;
}
.navbar .navbar-toggler {
  outline: none !important;
  border-color: var(--main-color) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 2.5rem;
  width: 2.8125rem;
}
@media (max-width: 767px) {
  .navbar .navbar-toggler {
    scale: 0.85;
  }
}
.navbar .navbar-toggler .navbar-toggler-icon1,
.navbar .navbar-toggler .navbar-toggler-icon2,
.navbar .navbar-toggler .navbar-toggler-icon3 {
  width: 70%;
  height: 0.1875rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--main-color);
  border-radius: 0.625rem;
}
.navbar .navbar-toggler .navbar-toggler-icon1 {
  top: 0.53125rem;
}
.navbar .navbar-toggler .navbar-toggler-icon2 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.navbar .navbar-toggler .navbar-toggler-icon3 {
  bottom: 0.53125rem;
}
.navbar .navbar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 1.25rem;
}
.navbar .navbar-text p {
  margin: 0;
  font-size: 1.0625rem;
}

footer {
  border-top: 1px solidvar(--alt-text);
  margin-top: 1.875rem;
}
footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 2.5rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  footer .content {
    text-align: center;
  }
}
footer .content h4 {
  color: var(--alt-text);
  font-size: 1.125rem;
  margin-top: 0;
  width: 100%;
  font-weight: 500;
}
@media (max-width: 767px) {
  footer .content .left {
    width: 100%;
  }
}
footer .content .left a {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .content .left p {
  color: var(--alt-text);
  line-height: 1.7;
}
footer .content .links,
footer .content .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}
@media (max-width: 767px) {
  footer .content .links,
  footer .content .help {
    width: 40%;
    text-align: center;
  }
}
footer .content .links a,
footer .content .help a {
  font-weight: 500;
  padding: 0.75rem 0;
  color: #000;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  footer .content .newsletter {
    margin-top: 1.25rem;
    width: 100%;
  }
}
footer .content .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.625rem;
}
@media (max-width: 767px) {
  footer .content .newsletter form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .content .newsletter form input, footer .content .newsletter form button {
  border: none;
  outline: none;
  color: var(--alt-text);
  padding: 7px 0;
  border-bottom: 1px solid black;
  background: white;
  font-size: 14px;
}
footer .content .newsletter form input#email, footer .content .newsletter form button#email {
  width: 200px;
  font-weight: 400;
}
footer .content .newsletter form button {
  font-weight: 500;
}
footer .content a:hover {
  color: var(--main-color);
}
footer .copy {
  padding-top: 20px;
  border-top: 1px solidvar(--alt-text);
  text-align: center;
}

.discover {
  background: url(../../../images/background1.png) center center, 0% 0%/cover no-repeat lightgray;
  position: relative;
  height: 44.8125rem;
}
.discover .box {
  position: absolute;
  padding: 1.875rem;
  top: 50%;
  right: 1.25rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fff3e3;
  border-radius: 0.625rem;
  width: 34.375rem;
  z-index: 2;
}
@media (max-width: 767px) {
  .discover .box {
    padding: 1.25rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 19.6875rem;
  }
}
.discover .box p.new {
  color: #333;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  margin-left: 0.625rem;
  margin-bottom: 0.3125rem;
}
.discover .box h1 {
  color: var(--Primary, #b88e2f);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.0625rem;
  max-width: 25rem;
  margin: 0 0 0.9375rem 0.5rem;
}
@media (max-width: 767px) {
  .discover .box h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}
.discover .box p.lorem {
  color: #333;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0 0 0 0.625rem;
}

.browse .browse-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.browse .browse-head h1 {
  color: var(--Font-Color, #333);
  font-size: 2rem;
  font-weight: 700;
  margin: 2.5rem 0 0;
}
@media (max-width: 767px) {
  .browse .browse-head h1 {
    font-size: 1.875rem;
  }
}
.browse .browse-head p {
  color: var(--Font-Color1, #666);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}
@media (max-width: 767px) {
  .browse .browse-head p {
    font-size: 0.9375rem;
  }
}
.browse .browse-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 767px) {
  .browse .browse-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.browse .browse-main .browse-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  margin: auto;
  width: 30%;
}
@media (max-width: 767px) {
  .browse .browse-main .browse-box {
    width: 96%;
  }
}
.browse .browse-main .browse-box .img {
  width: 100%;
  background: url(../../../images/image106.png), lightgray 50%/cover no-repeat;
  height: 30rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.browse .browse-main .browse-box .img-2 {
  background-image: url(../../../images/image100.png);
}
.browse .browse-main .browse-box .img-3 {
  background-image: url(../../../images/image101.png);
}
.browse .browse-main .browse-box p {
  color: var(--Font-Color, #333);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.products {
  position: relative;
}
.products h1 {
  color: var(--Color-Gray-1, #3a3a3a);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
}
.products .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}
.products .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.25rem auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b88e2f;
  border: 2px solid #b88e2f;
  font-weight: 700;
  width: 15.3125rem;
  height: 3.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.products .more:hover {
  color: white;
  background-color: #b88e2f;
}

.beutiful {
  position: relative;
  padding: 2.5rem 0;
  background-color: #fcf8f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
}
@media (max-width: 767px) {
  .beutiful {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.beutiful .text {
  width: 31.25rem;
  margin: 0 0 0 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .beutiful .text {
    width: 22.5rem;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.beutiful .text h1 {
  color: var(--Color-Gray-1, #3a3a3a);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%; /* 48px */
  margin: 0;
}
@media (max-width: 767px) {
  .beutiful .text h1 {
    font-size: 2.3125rem;
  }
}
.beutiful .text p {
  color: var(--Color-Gray-2, #616161);
  font-weight: 500;
  line-height: 150%; /* 24px */
}
@media (max-width: 767px) {
  .beutiful .text p {
    font-size: 0.96875rem;
  }
}
@media (max-width: 767px) {
  .beutiful .text a {
    margin: 0.625rem auto 0;
  }
}
.beutiful .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  gap: 0.9375rem;
  overflow: hidden;
}
.beutiful .images .image-1 {
  min-width: 25.25rem;
  height: 35.125rem;
  background-image: url(../../../images/Rectangle1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.beutiful .images .image-2-con {
  height: 35.125rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .beutiful .images .image-2-con {
    display: none;
  }
}
.beutiful .images .image-2-con .img {
  width: 18.75rem;
  height: 29.125rem;
  background-image: url(../../../images/Rectangle2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.beutiful .images .image-2-con .ellipses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}
.beutiful .images .image-3 {
  width: 5rem;
  height: 29.125rem;
  background-image: url(../../../images/Rectangle3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.funiro-hash {
  padding: 1.5625rem 0;
}
.funiro-hash h2 {
  color: var(--Color-Gray-2, #616161);
  margin-bottom: 0.3125rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
}
@media (max-width: 767px) {
  .funiro-hash h2 {
    font-size: 0.85rem;
  }
}
.funiro-hash h1 {
  color: var(--Color-Gray-1, #3a3a3a);
  margin-top: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
@media (max-width: 767px) {
  .funiro-hash h1 {
    font-size: 1.7rem;
  }
}

.options {
  background-color: #f9f1e7;
  padding: 1.5625rem 0;
}
@media (max-width: 991px) {
  .options .container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 767px) {
  .options .filter-options {
    gap: 0.7rem !important;
  }
}
.options .filter-options .filter {
  margin-left: 1.6875rem;
}
.options .filter-options .filter p {
  font-size: 1.125rem;
}
.options .filter-options > p {
  border-left: 0.09375rem solidvar(--alt-text);
  padding-left: 1.25rem;
  height: 100%;
}
.options .show-options select {
  border: 1px solid black;
  outline: none;
  background-color: var(--alt-color);
}

.shop-products .content {
  margin-top: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
}

@media (max-width: 991px) {
  .buttons .container {
    gap: 0.5rem !important;
  }
}
.buttons .container button {
  background-color: var(--alt-color) !important;
  border: none;
  padding-inline: 1.25rem;
}
@media (max-width: 767px) {
  .buttons .container button {
    font-size: 1.125rem;
    padding-inline: 1rem;
  }
}
.buttons .container button.active {
  background-color: var(--main-color) !important;
  color: white;
  pointer-events: none;
}

.contact-page .heading p {
  margin: auto;
  color: var(--alt-text);
  max-width: 43.75rem;
}
.contact-page .content {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}
@media (max-width: 991px) {
  .contact-page .content .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .contact-page .content .details .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 0 !important;
  }
}
@media (max-width: 767px) {
  .contact-page .content .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-page .content .details img {
  scale: 1.2;
}
@media (min-width: 992px) {
  .contact-page .content .details img {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 0.625rem;
  }
}
.contact-page .content .form {
  width: 45%;
}
@media (max-width: 991px) {
  .contact-page .content .form {
    width: 100%;
  }
}
.contact-page .content .form input,
.contact-page .content .form textarea {
  width: 100%;
  outline: none;
}
.contact-page .content .form textarea {
  resize: none;
  height: 13.75rem;
}
.contact-page .content .form button {
  padding: 1.2rem 4.5rem;
  border-radius: 0.625rem;
  margin-inline: 0;
}
@media (max-width: 991px) {
  .contact-page .content .form button {
    margin-inline: calc(50% - 100px);
  }
}

.blogs-page {
  padding: 3.125rem 0 1.875rem;
}
.blogs-page .content aside {
  width: 18.75rem;
}
@media (max-width: 767px) {
  .blogs-page .content aside {
    display: none;
  }
}
.blogs-page .content aside h3 {
  margin-bottom: 1.25rem;
}
.blogs-page .content aside .box {
  margin-bottom: 1.5625rem;
}
.blogs-page .content aside .box img {
  width: 5rem;
  height: 5rem;
  border-radius: 0.625rem;
}
.blogs-page .content aside .box p {
  margin-bottom: 0.0625rem;
  font-size: 0.96875rem;
}
.blogs-page .content aside .box span {
  color: var(--alt-text);
  font-size: 0.875rem;
}
.blogs-page .content section {
  width: 70%;
}
@media (max-width: 767px) {
  .blogs-page .content section {
    width: 100%;
  }
}
.blogs-page .content section .two,
.blogs-page .content section .three {
  display: none;
}

.checkout-page {
  padding-block: 4.375rem;
}
.checkout-page .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .checkout-page .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.checkout-page .content form {
  width: 31.25rem;
}
@media (max-width: 991px) {
  .checkout-page .content form {
    width: 100%;
  }
}
.checkout-page .content form .name label {
  width: 50%;
}
.checkout-page .content form label {
  margin-block: 0.625rem;
}
.checkout-page .content form input,
.checkout-page .content form textarea {
  padding: 1.0625rem;
  border-radius: 0.625rem;
  border: 1px solid var(--alt-text);
  margin-top: 0.3125rem;
}
.checkout-page .content form textarea {
  height: 10rem;
  resize: none;
}
.checkout-page .content .finishing {
  width: 31.25rem;
  margin-top: 3.125rem;
}
@media (max-width: 991px) {
  .checkout-page .content .finishing {
    width: 100%;
  }
}
.checkout-page .content .finishing .top-part {
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}
.checkout-page .content .finishing .top-part > div {
  margin-top: 0.625rem;
}
.checkout-page .content .finishing .top-part > div.products {
  font-weight: 500;
}
.checkout-page .content .finishing .top-part > div.products span:first-of-type {
  color: var(--alt-text);
}
.checkout-page .content .finishing .top-part > div.total {
  margin-top: 1.25rem;
}
.checkout-page .content .finishing .top-part > div.total span:last-of-type {
  font-size: 1.25rem;
  color: var(--main-color);
}
.checkout-page .content .finishing .bottom-part .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 1.25rem;
}
.checkout-page .content .finishing .bottom-part .form div:not(:first-of-type) {
  margin-bottom: 10px;
}
.checkout-page .content .finishing .bottom-part .form div label {
  margin-left: 18px;
  opacity: 0.5;
}
.checkout-page .content .finishing .bottom-part .form div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  opacity: 0.5;
}
.checkout-page .content .finishing .bottom-part .form div input::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: -8px;
  left: -2px;
  border-radius: 50%;
  border: 2px solid #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.checkout-page .content .finishing .bottom-part .form div input:checked,
.checkout-page .content .finishing .bottom-part .form div input:checked + label {
  opacity: 1;
}
.checkout-page .content .finishing .bottom-part .form div input:checked::after,
.checkout-page .content .finishing .bottom-part .form div input:checked + label::after {
  background-color: #000000;
}
.checkout-page .content .finishing .bottom-part .form p {
  color: var(--alt-text);
  margin-top: 5px;
}
.checkout-page .content .finishing .bottom-part > p {
  letter-spacing: 0.3px;
}
.checkout-page .content .finishing .bottom-part > p span {
  font-weight: bold;
}
.checkout-page .content .finishing .bottom-part button {
  padding: 0.625rem 2.8125rem;
  border: 2px solid #000000;
  color: #000000;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  margin-left: calc(50% - 103.5px);
}