$max-mobile: 767px;
$min-medium: 992px;
$max-medium: 991px;

$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;

:root {
  --main-color: rgb(184, 142, 47);
  --alt-color:  #f9f1e7;
}