@use "../global" as *;
.options {
  background-color: #f9f1e7;
  padding: rem(25) 0;
  .filter-options {
    .filter {
      margin-left: rem(27);
      p {
        font-size: rem(18);
      }
    }
    & > p {
      border-left: rem(1.5) solid #9F9F9F;
      padding-left: rem(20);
      height: 100%;
    }
  }
  .sort {
    select {
      width: fit-content;
    }
  }
}
.shop-products {
  .content {
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
  }
}
