@use "../global" as *;

header {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: rem(20) 0;
    a.logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      img {
        width: 3.125rem;
        height: 2rem;
        @include maxMobile {
          scale: 0.75;
        }
      }
      p {
        color: #000;
        font-family: $montserrat;
        font-size: 2.125rem;
        font-weight: 700;
        margin-left: rem(10);
        margin-bottom: 0;
        @include maxMobile {
          font-size: 1.2rem;
          margin-left: 0;
        }
      }
    }
    .sections {
      display: flex;
      flex: 1;
      gap: 4rem;
      justify-content: center;
      @include maxMedium {
        justify-content: flex-end;
        gap: 1.75rem;
      }
      @include maxMobile {
        gap: 1rem;
      }
      .section {
        color: #000;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;
        @include maxMobile {
          font-size: 0.85rem;
        }
      }
    }
    .icons-container {
      display: flex;
      align-items: center;
      gap: 1.75rem;
      @include maxMedium {
        display: none;
      }
      img {
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;
      }
    }
  }
}
