extends ./index

block titleName 
  title Blog

block links
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="./index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./shop.html">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="./contact.html">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="./blog.html">Blog</a>
  </li>

block content
  +pageHeader("Blog")
  .blogs-page
    .container 
      .content.d-flex.gap-5
        section
          .one
            +blog("../images/blog1.jpg", "Going all-in with millennial design", "Wood")
            +blog("../images/blog2.jpg", "Exploring new ways of decorating", "Handmade")
            +blog("../images/blog3.jpg", "Handmade pieces that took time to make", "Wood")
          .two
            +blog("../images/blog4-copy.jpg", "Going all-in with millennial design", "Wood")
            +blog("../images/blog5-copy.jpg", "Exploring new ways of decorating", "Handmade")
            +blog("../images/blog6-copy.jpg", "Exploring new ways of decorating", "Wood")
          .three
            +blog("../images/blog7-copy.jpg", "Modern home in Milan", "Wood")
            +blog("../images/blog8-copy.jpg", "Colorful office redesign", "Handmade")
            +blog("../images/blog1.jpg", "Going all-in with millennial design", "Wood")
        aside 
          h3 Recent Posts
          .box.d-flex.gap-3.align-items-center
            img(src="../images/blog4.jpg", alt="alt")
            .text 
              p Going all-in with millennial design
              span 03 Aug 2022
          .box.d-flex.gap-3.align-items-center 
            img(src="../images/blog5.jpg", alt="alt")
            .text 
              p Exploring new ways of decorating
              span 03 Oct 2022
          .box.d-flex.gap-3.align-items-center 
            img(src="../images/blog6.jpg", alt="alt")
            .text 
              p Handmade pieces that took time to make
              span 03 Dec 2022
          .box.d-flex.gap-3.align-items-center 
            img(src="../images/blog7.jpg", alt="alt")
            .text 
              p Modern home in Milan
              span 03 Feb 2023
          .box.d-flex.gap-3.align-items-center 
            img(src="../images/blog8.jpg", alt="alt")
            .text 
              p Colorful office redesign
              span 03 Apr 2023
  .buttons.p-5 
    .container.d-flex.align-items-center.justify-content-center.gap-3
      button.btn.btn-lg.prev Previous
      button.btn.btn-lg.active 1
      button.btn.btn-lg 2
      button.btn.btn-lg 3
      button.btn.btn-lg.next Next
  +pros

block scripts
  script(src="../JS/blog.js")