include ./includes/mixins
include ./includes/variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titleName
      title Funiro 
    <link rel="icon" type="image/png" href="../images/Meubel House_Logos-05.png">
    link(rel="stylesheet", href="../../CSS/bootstrap.min.css")
    link(rel="stylesheet", href="../../CSS/main.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  body
    header 
      .container 
        .head 
          a.logo(href="./index.html")
            img(src="../images/Meubel House_Logos-05.png", alt="alt")
            p Funiro
          .sections 
            a.section(href="./index.html") Home
            a.section(href="./shop.html") Shop
            a.section(href="./contact.html") Contact
            a.section(href="./blog.html") Blog
          .icons-container
            img(src="../images/ant-design_shopping-cart-outlined.svg", alt="alt")
    block content
      .discover 
        .box 
          p.new New Arrival
          h1 Discover Our New Collection
          p.lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
          a.main-button(href="./shop.html") 
            p BUY NOW
      .browse 
        .container 
          .browse-head 
            h1 Browse The Range
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .browse-main 
            .browse-box 
              .img-1.img
              p Dining
            .browse-box 
              .img-2.img
              p Living
            .browse-box 
              .img-3.img
              p Bedroom
      .products 
        .container 
          h1 Our Products
          .content 
            +product("../images/image1.png", "new", "Syltherine", "Stylish cafe table set", "EGP 14000", "none")
            +product("../images/image2.png", "none", "Liveosa", "Stylish cafe chair", "EGP 1500", "none")
            +product("../images/image3.png", "d50", "Lolito", "Luxury big sofa", "EGP 10000", "EGP 20000")
            +product("../images/image4.png", "new", "Respire", "Outdoor bar table and stool", "EGP 28000", "none")
            +product("../images/image5.png", "none", "Grifo", "Night Lamp", "EGP 699", "none")
            +product("../images/image6.png", "new", "Muggo", "Luxury sofa", "EGP 20000", "none")
            +product("../images/image7.png", "d50", "Pingky", "Light Gray Luxury sofa", "EGP 10500", "EGP 21000")
            +product("../images/image8.png", "new", "Potty", "Orange Luxury sofa", "EGP 25000", "none")
          a.more(href="./shop.html") Show More
      .beutiful
        .text 
          h1 50+ Beautiful rooms inspiration
          p Our designer already made a lot of beautiful prototipe of rooms that inspire you
          a.main-button(href="#") Explore More
        .images 
          .image-1
          .image-2-con
            .img
          .image-3
      .funiro-hash 
        h2 Share your setup with
        h1 #FuniroFurniture
        img.img-fluid(src="../images/Images.png", alt="alt")
    footer 
      .container 
        .content 
          .left 
            a(href="./index.html") Funiro.
            p 400 University Drive Suite 200 Coral</br> Gables,</br>FL 33134 USA
          .links 
            h4 Links
            a(href="./index.html") Home
            a(href="./shop.html") Shop
            a(href="./about.html") About
            a(href="./contact.html") Contact
          .help 
            h4 Help 
            a(href="#") Payment Options
            a(href="#") Returns
            a(href="#") Privacy Policies
          .newsletter 
            h4 Newslatter
            form(action="") 
              input#email(type="email", name="emial", placeholder="Enter Your Email Address")
              input(type="submit", value="SUBSCRIBE")
        .copy 
          p 2023 Funiro. All rights reverved &copy;
    script(src="../JS/bootstrap.bundle.min.js") 
    block scripts
      script(src="../JS/main.js")