doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titleName
      title Furniro 
    link(rel="stylesheet", href="../../CSS/all.min.css")
    link(rel="stylesheet", href="../../CSS/bootstrap.min.css")
    link(rel="stylesheet", href="../../CSS/main.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  body
    header 
      .container 
        .head 
          a.logo(href="./index.html")
            img(src="../images/Meubel House_Logos-05.png", alt="alt")
            p Furniro
          .sections 
            a.section(href="./index.html") Home
            a.section(href="./shop.html") Shop
            a.section(href="./about.html") About
            a.section(href="./contact.html") Contact
          .icons-container
            img(src="../images/mdi_account-alert-outline.svg", alt="alt")
            img(src="../images/akar-icons_search.svg", alt="alt")
            img(src="../images/akar-icons_heart.svg", alt="alt")
            img(src="../images/ant-design_shopping-cart-outlined.svg", alt="alt")
    block content
      .discover 
        .box 
          p.new New Arrival
          h1 Discover Our New Collection
          p.lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
          a.main-button(href="./shop.html") 
            p BUY NOW
      .browse 
        .container 
          .browse-head 
            h1 Browse The Range
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .browse-main 
            .browse-box 
              .img-1.img
              p Dining
            .browse-box 
              .img-2.img
              p Living
            .browse-box 
              .img-3.img
              p Bedroom
      .products 
        .container 
          h1 Our Products
          .content 
            .product
              img(src="../images/image1.png", alt="alt")
              .text
                p.title Syltherine
                p.des Stylish cafe table set
                p.price-after EGP 13.999
                p.price-before EGP 20.000
              .overlay-main
                .button Add to cart
                .impresions
                  .share Share
                    img(src="../images/gridicons_share.svg", alt="alt")
                  .compare Compare
                    img(src="../images/compare-svgrepo-com1.svg", alt="alt")
                  .like Like
                    img(src="../images/Heart.svg", alt="alt")
            .product
              img(src="../images/image2.png", alt="alt")
              .text
                p.title Liveosa
                p.des Stylish cafe chair
                p.price-after EGP EGP 1.499
                //- p.price-before EGP 20.000
              .overlay-main
                .button Add to cart
                .impresions
                  .share Share
                    img(src="../images/gridicons_share.svg", alt="alt")
                  .compare Compare
                    img(src="../images/compare-svgrepo-com1.svg", alt="alt")
                  .like Like
                    img(src="../images/Heart.svg", alt="alt")
            .product
              img(src="../images/image3.png", alt="alt")
              .discount 50%
              .text
                p.title Lolito
                p.des Luxury big sofa
                p.price-after EGP EGP 14.999
                p.price-before EGP 20.000
              .overlay-main
                .button Add to cart
                .impresions
                  .share Share
                    img(src="../images/gridicons_share.svg", alt="alt")
                  .compare Compare
                    img(src="../images/compare-svgrepo-com1.svg", alt="alt")
                  .like Like
                    img(src="../images/Heart.svg", alt="alt")
            .product
              img(src="../images/image4.png", alt="alt")
              .discount.new New
              .text
                p.title Respire
                p.des Outdoor bar table and stool
                p.price-after EGP EGP 14.999
                p.price-before EGP 20.000
              .overlay-main
                .button Add to cart
                .impresions
                  .share Share
                    img(src="../images/gridicons_share.svg", alt="alt")
                  .compare Compare
                    img(src="../images/compare-svgrepo-com1.svg", alt="alt")
                  .like Like
                    img(src="../images/Heart.svg", alt="alt")
    footer 
      .container 
        .content 
          .left 
            a(href="./index.html") Funiro.
            p 400 University Drive Suite 200 Coral</br> Gables,</br>FL 33134 USA
          .links 
            h4 Links
            a(href="./index.html") Home
            a(href="./shop.html") Shop
            a(href="./about.html") About
            a(href="./contact.html") Contact
          .help 
            h4 Help 
            a(href="#") Payment Options
            a(href="#") Returns
            a(href="#") Privacy Policies
          .newsletter 
            h4 Newslatter
            form(action="") 
              input#email(type="email", name="emial", placeholder="Enter Your Email Address")
              input(type="submit", value="SUBSCRIBE")
    script(src="../../JS/all.min.js") 
    script(src="../../JS/bootstrap.bundle.min.js") 
    script(src="../../JS/main.js")